{:enums
 {:role
  {:description "Account roles."
   :values      [:member :onboarding :applicant :admin :collaborator]}

  :application_status
  {:description "Application statuses."
   :values      [:in_progress :approved :rejected :submitted]}


  :application_move_in_ranges
  {:description "Allowed responses to the question 'When do you want to move in?"
   :values      [:date :asap :flexible]}

  :application_pet_type
  {:description "Allowed types of pets."
   :values      [:cat :dog :other]}

  :currencies
  {:description "Currencies to make payments."
   :values      [:usd]}

  :deposit_status
  {:description "Security deposit statuses."
   :values      [:pending :paid :overdue :unpaid :partial]}

  :deposit_refund_status
  {:description "Possible statuses of the security deposit refund."
   :values      [:initiated :successful :failed]}

  :line_item_type
  {:description "Possible types of the line items."
   :values      [:rent :ffe :cleaning :repairs :interest]}

  :license_status
  {:description "Possible statuses of a member license."
   :values      [:active :inactive :canceled :renewal :pending]}

  :license_transition_type
  {:description "Possible kinds of license transitions."
   :values      [:move_out :intra_xfer :inter_xfer :renewal :pending]}

  :occupancies
  {:description "Possible amounts of humans sharing a single unit."
   :values      [:single :double]}

  :order_status
  {:description "Possible statuses of orders."
   :values      [:pending :placed :fulfilled :processing :failed :charged :canceled]}

  :payment_method
  {:description "Methods of payment."
   :values      [:ach :card :check :other]}

  :payment_type
  {:description "Different types of payment."
   :values      [:order :rent :deposit :fee :application_fee :guest_booking :late_fee]}

  :bank_account_type
  {:description "Property bank account types."
   :values      [:ops :deposit]}

  :payments_date_key
  {:description "Allowed keys for date-based payment queries."
   :values      [:created :paid]}

  :orders_date_key
  {:description "Allowed keys for date-based order queries."
   :values      [:created :billed :fulfilled]}

  :payment_source_type
  {:description "Types of payment source."
   :values      [:bank :card]}

  :payment_status
  {:description "Payment status."
   :values      [:due :canceled :paid :pending :failed :refunded]}

  :referral_from
  {:description "Place within the application that the referral came from."
   :values      [:apply :tour]}

  :rent_status
  {:description "Rent payment statuses."
   :values      [:due :overdue :pending :paid]}

  :service_billed
  {:description "Different ways a service can be billed."
   :values      [:once :monthly]}

  :service_field_type
  {:description "Different types of input fields presented to members when they order a premium service"
   :values      [:text :dropdown :number :date :time]}

  :service_type
  {:description "Types of offerings that appear in the services view (services, fees, events tickets, etc.)"
   :values      [:service :fee]}

  :note_ref_type
  {:description "Type of entity that is being referenced by a note"
   :values      [:account :property]}}}
