{:input-objects
 {;;; Account
  :accounts_query_params
  {:description "Parameters to query for accounts."
   :fields      {:roles      {:type (list :role)}
                 :q          {:type        String
                              :description "Query string to search for accounts by name or email."}
                 :properties {:type (list :Long)}}}

  :update_account
  {:description "Inputs to update an account."
   :fields      {:first_name        {:type String}
                 :middle_name       {:type String}
                 :last_name         {:type String}
                 :phone             {:type String}
                 :emergency_contact {:type :update_account}}}


   ;;; Application
  :approve_application
  {:description "Inputs to approve an application."
   :fields      {:property {:type (non-null :Long)}
                 :term     {:type (non-null Int)}
                 :move_in  {:type (non-null :Instant)}
                 :unit     {:type (non-null :Long)}}}


  :application_update_params
  {:description "Inputs to update an application."
   :fields      {:term          {:type Int}
                 :move_in       {:type :Instant}
                 :move_in_range {:type :application_move_in_ranges}
                 :occupancy     {:type :occupancies}
                 :has_pet       {:type Boolean}
                 :pet           {:type :application_pet_params}
                 :status        {:type :application_status}
                 :updated       {:type :Instant}
                 :communities   {:type (list :Long)}}}


  :application_pet_params
  {:description "Inputs to create or update an applicant's pet"
   :fields      {:id           {:type :Long}
                 :type         {:type :application_pet_type}
                 :name         {:type String}
                 :breed        {:type String}
                 :weight       {:type :Long}
                 :about        {:type String}
                 :sterile      {:type Boolean}
                 :vaccines     {:type Boolean}
                 :bitten       {:type Boolean}
                 :demeanor     {:type String}
                 :daytime_care {:type String}}}


  ;;; Check
  :create_check_params
  {:description "Inputs to create a check."
   :fields      {:payment       {:type (non-null :ID)}
                 :amount        {:type (non-null Float)}
                 :name          {:type (non-null String)}
                 :received_date {:type (non-null :Instant)}
                 :check_date    {:type (non-null :Instant)}
                 :bank          {:type String}
                 :number        {:type Int}}}


  ;;; License
  :reassign_member_unit_params
  {:description "Inputs to reassign a member to a new unit."
   :fields      {:license {:type (non-null :Long)}
                 :unit    {:type (non-null :Long)}
                 :rate    {:type (non-null Float)}
                 ;; :term    {:type (non-null Int)}
                 }}


  :member_license_transition_license_params
  {:description "Inputs to create a new license."
   :fields      {:unit {:type :Long}
                 :term {:type :Long}
                 :date {:type :Instant}
                 :rate {:type Float}}}


  :member_license_transition_create_params
  {:description "Inputs to create a license transition data structure (for end-of-term actions like transfers, renewals, move-outs)"
   :fields      {:current_license    {:type (non-null :Long)}
                 :type               {:type :license_transition_type}
                 :deposit_refund     {:type Float}
                 :date               {:type (non-null :Instant)}
                 :asana_task         {:type String}
                 :new_license_params {:type :member_license_transition_license_params}}}


  :member_license_transition_mutation_params
  {:description "Parameters for changing attributes of a member license's transition data"
   :fields      {:id                   {:type (non-null :Long)}
                 :current_license      {:type (non-null :Long)}
                 :date                 {:type :Instant}
                 :deposit_refund       {:type Float}
                 :room_walkthrough_doc {:type String}
                 :asana_task           {:type String}
                 :new_license_params   {:type :member_license_transition_license_params}}}


  ;;; Order
  :orders_query_params
  {:description "Parameters to query for orders."
   :fields
   {:accounts   {:type        (list :Long)
                 :description "ID of an account to query orders for."}
    :billed     {:type (list :service_billed)}
    :services   {:type (list :Long)}
    :properties {:type (list :Long)}
    :statuses   {:type          (list :order_status)
                 :default-value [:pending :placed :fulfilled :charged :canceled]}
    :datekey    {:type          :orders_date_key
                 :default-value :created
                 :description   "Specifies which date attribute to use for date params."}
    :from       {:type        :Instant
                 :description "Orders after."}
    :to         {:type        :Instant
                 :description "Orders until."}}}


  :mutate_line_item_params
  {:description "Parameters to create a line item."
   :fields      {:id    {:type :Long}
                 :desc  {:type (non-null String)}
                 :cost  {:type Float}
                 :price {:type (non-null Float)}}}


  :mutate_order_params
  {:description "Parameters needed to create an order."
   :fields      {:account    {:type (non-null :Long)}
                 :service    {:type (non-null :Long)}
                 :variant    {:type        :Long
                              :description "Optional variant of the service."}
                 :price      {:type Float}
                 :cost       {:type Float}
                 :quantity   {:type Float}
                 :request    {:type String}
                 :summary    {:type String}
                 :line_items {:type (list :mutate_line_item_params)}
                 :fields     {:type (list :mutate_order_field_params)}}}


  :mutate_order_field_params
  {:description "Parameters needed to create or edit order fields"
   :fields      {:id            {:type :Long}
                 :service_field {:type :Long}
                 :value         {:type :Any}}}


  ;;; Payment
  :create_payment_params
  {:description "Inputs to create a payment."
   :fields      {:account  {:type (non-null :Long)}
                 :amount   {:type (non-null Float)}
                 :month    {:type :Instant}
                 :subtypes {:type (list :Keyword)}
                 :type     {:type (non-null :payment_type)}}}

  :payments_query_params
  {:description "Parameters to query for payments."
   :fields      {:account      {:type        :Long
                                :description "ID of an account to query payments for."}
                 :property     {:type        String
                                :description "ID of a property to query payments for."}
                 :source       {:type        String
                                :description "ID of a payment sources to query payments for."}
                 :source_types {:type          (list :payment_source_type)
                                :default-value [:bank :card]
                                :description   "List of payment source types."}
                 :subtypes     {:type        (list :Keyword)
                                :description "List of payment subtypes."}
                 :types        {:type          (list :payment_type)
                                :default-value [:deposit :order :rent :fee]
                                :description   "List of payment types to query."}
                 :from         {:type        :Instant
                                :description "Payments after."}
                 :to           {:type        :Instant
                                :description "Payments until."}
                 :statuses     {:type          (list :payment_status)
                                :default-value [:due :canceled :paid :pending :failed :refunded]
                                :description   "List of payment statuses to query."}
                 :currencies   {:type          (list :currencies)
                                :default-value [:usd]
                                :description   "List of currencies used to make payments."}
                 :datekey      {:type          :payments_date_key
                                :default-value :created
                                :description   "Specifies which date attribute to use for date params."}}}


  ;;; Note
  :create_note_params
  {:description "Parameters to create a new note."
   :fields      {:refs    {:type (list :Long)}
                 :subject {:type (non-null String)}
                 :content {:type (non-null String)}
                 :notify  {:type Boolean}}}

  :update_note_params
  {:description "Parameters to update a note."
   :fields      {:note    {:type        (non-null :Long)
                           :description "ID of the note to update."}
                 :subject {:type String}
                 :content {:type String}}}

  :notes_query_params
  {:description "Parameters to query for notes."
   :fields      {:q    {:type        String
                        :description "Query term."}
                 :refs {:type        (list :Long)
                        :description "List of entities that are mentioned in the note"}}}


  ;;; Services
  :service_field_option_object
  {:description "The options given to a member in a service field of type `:dropdown`"
   :fields      {:index {:type (non-null :Long)}
                 :label {:type (non-null String)}
                 :value {:type (non-null String)}}}

  :service_field_object
  {:description "Custom fields to be defined when a new `service` is created."
   :fields      {:index         {:type (non-null :Long)}
                 :id            {:type :Long}
                 :type          {:type (non-null :service_field_type)}
                 :label         {:type (non-null String)}
                 :required      {:type Boolean}
                 :options       {:type (list :service_field_option_object)}
                 :excluded_days {:type (list :Long)}}}

  :services_query_params
  {:description "Parameters to query for services."
   :fields      {:q          {:type        String
                              :description "Query term."}
                 :catalogs   {:type        (list :Keyword)
                              :description "List of catalogs we want services from"}
                 :properties {:type        (list :Long)
                              :description "List of property IDs"}
                 :billed     {:type (list :service_billed)}
                 :active     {:type        Boolean
                              :description "Is this service being offered?"}
                 :archived   {:type        Boolean
                              :description "Has this service been archived?"}}}

  :service_create_params
  {:description "Parameters to create a new service."
   :fields      {:name          {:type (non-null String)}
                 :name_internal {:type String}
                 :code          {:type (non-null String)}
                 :description   {:type (non-null String)}
                 :catalogs      {:type (list String)}
                 :active        {:type Boolean}
                 :type          {:type :service_type}
                 :fields        {:type (list :service_field_object)}
                 :properties    {:type (list :Long)}
                 :price         {:type Float}
                 :cost          {:type Float}
                 :billed        {:type :service_billed}
                 :rental        {:type Boolean}
                 :fees          {:type (list :Long)}}}


  :service_update_params
  {:description "Parameters to update a service"
   :fields      {:name          {:type String}
                 :name_internal {:type String}
                 :code          {:type String}
                 :description   {:type String}
                 :catalogs      {:type (list String)}
                 :active        {:type Boolean}
                 :type          {:type :service_type}
                 :fields        {:type (list :service_field_object)}
                 :properties    {:type (list :Long)}
                 :price         {:type Float}
                 :cost          {:type Float}
                 :billed        {:type :service_billed}
                 :rental        {:type Boolean}
                 :fees          {:type (list :Long)}
                 :archived      {:type Boolean}}}


  ;;; Addresses
  :address_create_params
  {:description "Parameters to create a new address"
   :fields      {:lines       {:type (non-null String)}
                 :locality    {:type (non-null String)}
                 :region      {:type (non-null String)}
                 :country     {:type String}
                 :postal_code {:type (non-null String)}}}


  ;;; Communities - previously properties
  :bank_account_create_params
  {:fields {:account_number {:type (non-null String)}
            :routing_number {:type (non-null String)}}}


  :community_add_financial_info_params
  {:description "Parameters to add financial information to a community."
   :fields      {:deposit       {:type (non-null :bank_account_create_params)}
                 :ops           {:type (non-null :bank_account_create_params)}
                 :first_name    {:type (non-null String)}
                 :last_name     {:type (non-null String)}
                 :dob           {:type :Instant}
                 :ssn           {:type (non-null String)}
                 :business_name {:type (non-null String)}
                 :tax_id        {:type (non-null String)}}}


  :community_create_params
  {:description "Parameters to create a new community"
   :fields      {:name            {:type        (non-null String)
                                   :description "Name that will be given to this community"}
                 :code            {:type        (non-null String)
                                   :description "Unique code for community. Used as lookup ref"}
                 :cover_image_url {:type        String
                                   :description "Url where cover image is being stored."}
                 :units           {:type        (non-null Int)
                                   :description "Amount of units in this community"}
                 :available_on    {:type        (non-null :Instant)
                                   :description "Date this community will become live"}
                 :license_prices  {:type        (list :license_price_create_params)
                                   :description "List of items needed to create a license price"}
                 :address         {:type (non-null :address_create_params)}}}


  :license_price_create_params
  {:description "Parameters needed to create a license price"
   :fields      {:term  {:type        (non-null :Long)
                         :description "Term lenght of license price"}
                 :price {:type        (non-null Float)
                         :description "Price to a license price"}}}


  ;;; Units
  :units_query_params
  {:description "Parameters to query for units."
   :fields      {:property {:type        :Long
                            :description "Property to query units within."}}}


  :unit_rate_response
  {:description "Response to the `:unit_rate` query."
   :fields      {:rate {:type (non-null Float)}}}


  ;; Term Licenses
  :term_license_query_params
  {:description "Parameters to query a term license"
   :fields      {:term      {:type        :Long
                             :description "Length of license in months"}
                 :available {:type        Boolean
                             :description "Is this license available for new applicants"}}}}}
