$card-min-height: 11rem;
$card-horizontal-padding: 1.5rem;
$card-illo-padding: 2rem 1.5rem 0;
$card-bottom-margin: $spacing-large;
$card-icon-opacity-default: 0.7;
$card-icon-opacity-hover: 1;
// $card-shadow: 1px 1px 3px rgba(0,0,0,0.06) !default;

.card {
  border-radius: $border-radius;
  background: white;
  border: $border-width solid $line-gray;
  position: relative;
  margin-bottom: $card-bottom-margin;
  overflow: hidden;
  // box-shadow: $card-shadow;
  &.centered {
    text-align: center;
  }
  &:hover {
    .icon-delete, .icon-x {
      opacity: $card-icon-opacity-default;
    }
  }
  .icon-delete {
    @extend .fast-opacity;
    position: relative;
    float: right;
    top: 2px;
    cursor: pointer;
    opacity: 0;
    &:hover {
      opacity: $card-icon-opacity-hover !important;
    }
  }
  .icon-x {
    @extend .fast-opacity;
    position: relative;
    float: right;
    top: 6px;
    cursor: pointer;
    opacity: 0;
    &:hover {
      opacity: $card-icon-opacity-hover !important;
    }
  }
}

.card-interactive {
  @extend .fast-all;
  position: relative;
  &:hover {
    box-shadow: $medium-shadow;
    bottom: 2px;
  }
}

.card-description {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: $card-horizontal-padding;
}

.card-top {
  padding: $card-horizontal-padding;
}

.card-footer {
  border-top: $border-width solid $line-gray;
  padding: 0.5rem $card-horizontal-padding;
}

.card-number {
  min-height: $card-min-height;
  .card-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

.card-photo {
  // adjust the .aspect-ratio--#x# class in the HTML to change photo proportions.
  @extend .aspect-ratio;
  .aspect-ratio--object {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  &:hover {
    .chevron {
      opacity: $card-icon-opacity-default;
    }
    .chevron-scrim {
      opacity: $card-icon-opacity-hover;
    }
  }
}

.card-img-background {
  background-position: center center;
  background-size: cover;
  min-height: 306px;
}

.card-illo {
  padding: $card-illo-padding;
}


// Maybe move these to a carousel component?
.dots {
  position: absolute;
  z-index: 103;
  padding-left: $card-horizontal-padding;
  bottom: 16px;
}

.dot {
  height: 8px;
  width: 8px;
  margin-right: 5px;
  background-color: white;
  border: solid 2px white;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  &.inactive {
    background-color: transparent;
    opacity: $card-icon-opacity-default;
    &:hover {
      opacity: $card-icon-opacity-hover;
    }
  }
}

.carousel-slide {
  margin: auto;
  display: none;
  list-style-type: none;
  text-align: center;
  &.active {
    display: block;
  }
}

.chevron {
  @extend .fast-opacity;
  position: absolute;
  z-index: 103;
  top: 50%;
  opacity: 0;
  cursor: pointer;
  &.next {
    right: $card-horizontal-padding;
  }
  &.back {
    left: $card-horizontal-padding;
    > img {
      transform: rotate(180deg);
    }
  }
  &:hover {
    opacity: $card-icon-opacity-hover !important;
  }
}

.chevron-scrim {
  @extend .fast-opacity;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 24%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.5) 100%);
  width: 100%;
  height: 100%;
  z-index: 102;
  position: absolute;
  opacity: 0;
}



// Mobile Specific Styles
@media screen and (max-width: $breakpoint-small) {
  .card-mobile-suite {
    .card-description {
      width: 100%;
      display: block;
    }
  }
  .card {
    margin-bottom: $spacing-small;
    min-height: 0;
    &.centered {
      text-align: center;
    }
  }
  .card-illo {
    display: table-cell;
    width: 25%;
    padding: $spacing-medium;
  }
  .card-description {
    /* display: table-cell; */
    vertical-align: middle;
    width: 100%;
    padding: $spacing-medium;
  }
  .card-number {
    .card-illo {
      text-align: center;
      padding: $spacing-medium;
    }
    .card-footer {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      border-top: 0;
      border-left: solid $border-width $line-gray;
    }
  }
  .chevron-scrim {
    opacity: $card-icon-opacity-hover;
  }
  .chevron {
    opacity: $card-icon-opacity-default;
  }
  .icon-delete, .icon-x {
    opacity: $card-icon-opacity-hover !important;
  }
}
