#chatlio-widget .chatlio-widget {
  left: auto !important;
  right: auto !important;
  bottom: 20px !important;
}

.chatlio-widget.chatlio-closed
.chatlio-title-bar.chatlio-title-bar-chip {
  display: none !important;
}

.chatlio-widget.chatlio-open .chatlio-title-bar-chip {
  display: none !important;
}

.chatlio-widget
.chatlio-widget-body.chatlio-bottom-right {
  transform-origin: bottom left !important;
}

.chatlio-widget-body.chatlio-bottom-right {
  border-bottom-left-radius: 0 !important;
  left: 0 !important;
}
