$form-bottom-padding: 3rem;
$label-bottom-margin: 0.5rem;
$input-bottom-margin: 1.5rem;
$textarea-padding: 1rem 1rem;
$checkbox-size: 1.5rem;
$checkbox-radius: $border-radius;
$radio-radius: calc(#{$checkbox-size}/2);
$radio-inner-size: 14px;
$checkbox-padding-left: 2.4rem;


form {
  padding-bottom: $form-bottom-padding;
}

label {
  @extend h3;
  display: inline-block;
  margin-bottom: $label-bottom-margin;
}

.placeholder {
  font-family: $sans-serif;
  color: $light-gray;
  line-height: $p-line-height;
}

input[type="text"],
input[type="number"], textarea {
  @extend .medium-border;
  height: 40px;
  font-family: $sans-serif;
  border-radius: $button-radius;
  border-width: $border-width;
  padding: $button-padding;
  border-style: solid;
  border-color: $line-gray;
  width: 100%;
  margin-bottom: $input-bottom-margin;
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder  {
    @extend .placeholder;
  }
  &:focus {
    outline: none;
    border-color: $light-gray;
  }
  &.error {
    border-color: $red;
    margin-bottom: 0; // no margin because it should have an error caption
  }
}

textarea {
  padding: $textarea-padding;
  resize: vertical;
}

.select {
  select {
    @extend input[type="text"];
    height: 40px;
    background: transparent;
    background-color: white;
    -webkit-appearance: none;
    -webkit-border-radius: $button-radius;
  }
  &.error select {
    border-color: $red;
    margin-bottom: 0;
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.checkbox {
  position: relative;
  margin-bottom: 1rem;
  input[type=checkbox]:checked {
    + .checkbox-style {
      border: $border-width solid $light-gray;
    }
    + .checkbox-style:after {
      opacity: 1;
    }
  }
  label {
    line-height: $p-line-height;
    padding-left: $checkbox-padding-left;
    font-weight: 400;
    position: relative;
    top: 0;
    cursor: pointer;
    margin-bottom: 0;
    &:hover .checkbox-style::after {
      opacity: 0.7;
    }
  }
  &.error .checkbox-style {
    border-color: $red;
  }
}

.checkbox-style {
  position: absolute;
  width: $checkbox-size;
  height: $checkbox-size;
  top: 0;
  left: 0;
  background: white;
  border: $border-width solid $line-gray;
  border-radius: $checkbox-radius;
  &:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 12px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 6px;
    border: 2px solid $blue;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
  }
}

.radio {
  position: relative;
  margin-bottom: 1rem;
  input[type=radio]:checked {
    + .radio-style {
      border: $border-width solid $light-gray;
    }
    + .radio-style:after {
      opacity: 1;
    }
  }
  label {
    line-height: $p-line-height;
    padding-left: $checkbox-padding-left;
    font-weight: 400;
    position: relative;
    top: 0;
    cursor: pointer;
    margin-bottom: 0;
    &:hover .radio-style::after {
      opacity: 0.3;
    }
  }
}

.radio-style {
  position: absolute;
  width: $checkbox-size;
  height: $checkbox-size;
  top: 0;
  left: 0;
  background: white;
  border: $border-width solid $line-gray;
  border-radius: $radio-radius;
  &:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: $radio-inner-size;
    height: $radio-inner-size;
    background: $blue;
    top: 5px;
    left: 5px;
    border-radius: $radio-radius;
  }
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.button-upload {
  @extend .fast-all;
  width: 100%;
  background: white;
  font-weight: bold;
  padding: $spacing-medium;
  color: $black;
  text-align: center;
  border: $border-width dashed $line-gray;
  cursor: pointer;
  &:hover {
    border-color: $light-gray;
  }
}
