$icon-small-size: 17px;
$icon-in-text-positioning: 10px;

.icon-small {
  width: $icon-small-size;
  height: $icon-small-size;
}

// if the small icon is in a paragraph, adjust the baseline
p .icon-small {
  position: relative;
  width: 32px;
  height: 30px;
  top: $icon-in-text-positioning;
}

// if the small icon is in an H4, adjust the baseline
h4 .icon-small {
  position: absolute;
  top: -2px;
  margin-left: 4px;
}

// positing the edit icon when it's inline with text
.icon-edit {
  position: relative;
  bottom: -3px;
  margin-left: 4px;
  cursor: pointer;
}

.welcome-logo {
  fill: $blue;
  align-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}
