$main-padding: 4.5rem 3rem 7rem;
$main-max-width: 1280px;

.main {
  margin-left: $nav-primary-width;
  padding: $main-padding;
  max-width: $main-max-width;
}

.page-content {
  padding-top: $spacing-large;
  overflow: hidden;
}

.noscroll {
  overflow: hidden;
}

.main-no-nav {
  margin-left: auto;
}

.bg-top {
  position: absolute;
  top: 0;
  background-image: url('../images/ptm/bg-top.png');
  background-color: $bg-gray;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 300px;
  width: 100%;
  z-index: -1;
  background-blend-mode: multiply;
}

// Mobile Specific Styles
@media screen and (max-width: $breakpoint-small) {
  .main {
    margin-left: 0;
    padding: 1rem 1rem 4rem;
  }
  .page-content {
    padding-top: $spacing-small;
  }
}

// Medium-screen Specific Styles
@media screen and (min-width: 40em) and (max-width: 60em) {

}

// Breakpoint makes the layout better on laptop-sized screens
@media screen and (max-width: 1240px) and (min-width: 60em) {
  .page-content {
    width: 100% !important;
  }
}
