$nav-primary-width: 220px;
$nav-icon-size: 32px;

.logo {
}

.logomark {
  margin: $spacing-medium;
  vertical-align:middle;
  display: inline-block;
  width: $nav-icon-size;
  height: $nav-icon-size;
  fill: white;
}

.title {
  color: white;
  display: inline-block;
  vertical-align:middle;
}

.nav-primary {
  background-image: url('../images/ptm/bg-nav.png');
  background-position: top left;
  background-size: 388px 971px;
  background-repeat: no-repeat;
  background-color: white;
  border-right: solid $border-width $line-gray;
  width: $nav-primary-width;
  height: 100vh;
  position: fixed;
  display: block;
}

.nav-items {
  @extend h4;
  list-style-type: none;
  padding-left: $spacing-medium;
  > * {
    position: relative;
    &:hover .nav-icon {
      fill: $blue;

      &.disabled {
        fill: $gray;
      }
    }
  }
}

.nav-icon {
  width: $nav-icon-size;
  height: $nav-icon-size;
  display:inline-block;
  vertical-align:middle;
  text-align:center;
  fill: $gray;
  &.active {
    fill: $blue;
  }

}

.nav-link {
  padding: $spacing-large $spacing-medium;
  display:inline-block;
  color: $gray;
  vertical-align:middle;
  &:hover, &.active {
    color: $blue;
  }

  &.disabled {
    cursor: not-allowed;

    &:hover {
      color: $gray;
    }
  }
}

.nav-footer {
  position: absolute;
  bottom: 0;
  border-top: solid $border-width $line-gray;
  width: 100%;
  .nav-link {
    padding: $spacing-medium $spacing-medium;
  }
}

// Add to .nav-primary if the page has a progress bar
.nav-progress {
  > .nav-items {
    > *:after {
      content: "";
      width: 2px;
      height: 30px;
      background-color: $light-gray;
      position: absolute;
      top: 60px;
      left: 15px;
    }
    > *:last-child:after {
      background-color: transparent;
    }
  }
}

.nav-in-progress {
  &:before {
    content: "";
    width: 2px;
    height: 12px;
    background-color: $blue;
    position: absolute;
    top: 60px;
    left: 15px;
    z-index: 1;
  }
}

.nav-item-complete {
  &:before {
    content: "";
    width: 2px;
    height: 30px;
    background-color: $blue;
    position: absolute;
    top: 60px;
    left: 15px;
    z-index: 1;
  }
}

.nav-small {
  display: none;
}

// Mobile Specific Styles
@media screen and (max-width: $breakpoint-small) {
  .nav-primary {
    display: none;
  }
  .nav-small {
    border-bottom: solid $border-width $line-gray;
    display: block;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 998;
    .logomark {
      fill: $blue;
    }
    .title {
      color: $blue;
    }
  }
  .has-nav-small {
    position: relative;
    top: $spacing-extra-large;
  }
  .menu-button {
    cursor: pointer;
    text-indent: -999em;
    overflow: hidden;
    height: 2.5em;
    width: 1.8em;
    -webkit-transition: background 800ms;
    transition: background 800ms;
    background: linear-gradient(transparent 0,transparent 46%,$gray 46%,$gray 54%,transparent 54%,transparent 100%);
    border-radius: .2em;
    position: absolute;
    top: 0.75em;
    right: 1em;
    &:after,
    &:before {
      -webkit-transition: all ease 200ms;
      transition: all ease 200ms;
      position: absolute;
      content: '';
      background-color: $gray;
      height: .2em;
      width: 2em;
    }
    &:before {
      top: .75em;
      right: 0;
    }
    &:after {
      bottom: .75em;
      right: 0;
    }
    // Active
    &.active {
      background: transparent;
      &:hover {
        background: transparent;
      }
      &:hover:after,
      &:hover:before,
      &:after,
      &:before {
        top: 50%;
      }
      &:before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transform-origin: 50%;
                transform-origin: 50%;
      }
      &:after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transform-origin: 50%;
                transform-origin: 50%;
      }
    }
  }
  .menu {
    position: fixed;
    top: 0;
    width: 80%;
    bottom: 0;
    left: -80%;
    background-color: #fff;
    box-shadow: $deep-shadow;
    transition: left ease 200ms;
    text-transform: uppercase;
    padding-top: $spacing-large;
    z-index: 999;
    margin: 0;
    &.active {
      left: 0;
    }
    li {
      background-color: #fff;
      &:hover {
       background-color: lighten($gray, 30%);
       a {
        color: $blue;
       }
      }
      a {
        padding: $spacing-medium;
        display: block;
        color: $gray;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}
