$pill-padding: 4px 8px;

.pill {
  @extend h4;
  display: inline-block;
  padding: $pill-padding;
  background: $gray;
  color: white;
  border-radius: 20px;
  &.pill-inactive {
    @extend .fast-all;
    cursor: pointer;
    &:hover {
      background: $blue;
    }
  }
  &.pill-active {
    background: $blue;
    .delete {
      @extend .fast-opacity;
      cursor: pointer;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}
