// Add to top of pages that also have .nav-progress

@media screen and (max-width: $breakpoint-small) {
  .progress-mobile  {
    display: block;
    height: 4px;
    background-color: $line-gray;
    width: 100%;
  }

  .progress-mobile-fill {
    display: block;
    background-color: $blue;
    height: 4px;
  }
}
