$toast-background: rgba(0,0,0,0.9);

.toast {
  @extend h4;
  position: fixed;
  top: $spacing-large;
  right: $spacing-large;
  background: $toast-background;
  color: white;
  padding: 0.75rem $spacing-medium;
  border-radius: $border-radius;
  box-shadow: $shallow-shadow;
}
